body{
    background-color: mediumaquamarine;
}
#list{
    margin-left: 35%;
border-width: 1px;
border-style: solid;
border-color: aqua;
padding: 15px;
}
#header{
   background-color: blue;
   text-align: center;
   border-width :1px; 
   border-radius :50px; 
   border-style:dashed ;
}

img{
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: aquamarine;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
#navlinks{
position: fixed;
}
#footer{
    background-color: rgb(141, 223, 255);
   text-align: center;
   border-width :1px; 
   border-radius :50px; 
   border-style:dashed ;
}